@tailwind base;
@tailwind components;
@tailwind utilities;

.adad {
  -moz-font-feature-settings: 'ss02';
  -webkit-font-feature-settings: 'ss02';
  font-feature-settings: 'ss02';
}

.adad {
  -moz-font-feature-settings: 'ss03';
  -webkit-font-feature-settings: 'ss03';
  font-feature-settings: 'ss03';
}

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .navLink {
    @apply md:!justify-start gap-x-4 md:!my-1.5 !px-3 w-full;
  }

  .menuItem {
    @apply dark:hover:bg-[#3C3C3C] !cursor-pointer flex !justify-end items-center gap-x-4 !px-4 !py-3.5 !m-1.5 !rounded-lg font-medium;
  }

  .postOption {
    @apply flex items-center justify-center border-b border-zinc-300 dark:border-neutral-700 text-sm font-medium w-full;
  }

  .dialogContent {
    @apply bg-white/30 dark:bg-neutral-800/30 backdrop-blur-sm !p-0 overflow-hidden !gap-0;
  }
}

/* Loading */
.coffee-mug {
  position: relative;
  margin: 0 auto;
  width: 8em;
  height: 6em;
  border-radius: 0.05em 0.05em 3em 3em;
  box-shadow: 0 0 0 0.5em #e67e22;
}
.coffee-mug:after {
  content: '';
  display: block;
  position: absolute;
  left: 100%;
  top: 1em;
  width: 1.5em;
  height: 2em;
  box-shadow: 0 0 0 0.5em #e67e22;
  margin-left: 0.5em;
  border-radius: 0 50% 50% 0;
}

.coffee-container {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  border-radius: 0.05em 0.05em 3em 3em;
}

.coffee {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #111;
  animation: coffee-load 3.3s infinite;
}
.coffee:before {
  content: '';
  display: block;
  width: 200%;
  height: 1em;
  position: absolute;
  left: -50%;
  top: -0.5em;
  background: #fff;
  animation: coffee-wave 0.8s ease-in-out infinite;
  border-radius: 50%;
}

@keyframes coffee-load {
  0% {
    transform: translateY(100%);
  }
  70% {
    transform: translateY(30%);
  }
  90% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes coffee-wave {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

/* Coffee V1  */
body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;
}
canvas {
  touch-action: none;
}

@layer base {
  :root {
    --header-row-height: 44px;
    --header-height: calc(var(--header-row-height));
    /* --header-height: calc(var(--header-row-height) * 0.05); */
    --hero-height: calc(100svh - var(--header-height));
  }
}
.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .nav-height {
    @apply h-[calc(100vh-60px)];
  }

  .btn {
    @apply px-5 py-2 rounded-3xl bg-blue-600 my-5 hover:bg-transparent border border-transparent hover:border hover:text-blue-600 hover:border-blue-600;
  }

  .color-container {
    @apply flex items-center justify-center px-4 py-4 rounded-full bg-gray-300 backdrop-blur;
  }

  .size-btn-container {
    @apply flex items-center justify-center p-1 rounded-full bg-gray-300 backdrop-blur ml-3 gap-1;
  }

  .size-btn {
    @apply w-10 h-10 text-sm flex justify-center items-center bg-white text-black rounded-full transition-all;
  }

  .common-padding {
    @apply sm:py-32 py-20 sm:px-10 px-5;
  }

  .section-heading {
    @apply text-[#86868b] lg:text-6xl md:text-5xl text-3xl lg:mb-0 mb-5 font-medium opacity-0 translate-y-20 bg-gradient-to-l from-orange-950 via-orange-300 to-orange-600 bg-transparent  inline-block text-transparent bg-clip-text;
  }

  .feature-text {
    @apply text-[#86868b] max-w-md text-lg md:text-xl font-semibold opacity-0 translate-y-[100px];
  }

  .feature-text-container {
    @apply w-full flex-center flex-col md:flex-row mt-10 md:mt-16 gap-5;
  }

  .feature-video {
    @apply w-full h-full object-cover object-center scale-150 opacity-0;
  }

  .feature-video-container {
    @apply w-full flex flex-col md:flex-row gap-0.5 md:items-center;
  }

  .link {
    @apply text-blue-600 hover:underline cursor-pointer flex items-center text-xl opacity-0 translate-y-20;
  }

  .control-btn {
    @apply ml-4 p-4 rounded-full bg-gray-600/20 backdrop-blur-sm flex-center;
  }

  .hero-title {
    @apply text-center text-4xl font-bold bg-gradient-to-l from-orange-950 via-orange-300 to-orange-600 bg-transparent  inline-block text-transparent bg-clip-text   max-md:mb-10;
  }

  .hiw-title {
    @apply text-xl md:text-4xl font-semibold text-center;
  }

  .hiw-subtitle {
    @apply text-[#86868b] font-semibold text-xl md:text-2xl py-10 text-center;
  }

  .hiw-video {
    @apply absolute w-[95%] h-[90%] rounded-[56px] overflow-hidden;
  }

  .hiw-text-container {
    @apply flex md:flex-row flex-col justify-between items-start gap-24;
  }

  .hiw-text {
    @apply text-[#86868b] text-xl font-normal md:font-semibold;
  }

  .hiw-bigtext {
    @apply text-white text-3xl md:text-5xl font-normal md:font-semibold my-2;
  }

  .video-carousel_container {
    @apply relative sm:w-[70vw] w-[88vw] md:h-[70vh] sm:h-[50vh] h-[35vh];
  }

  .g_fadeIn {
    @apply opacity-0 translate-y-[100px];
  }
}

/* coffee  */
@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100px, 100px);
  }
}
